<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <!--变量-->
    <property name="log.charset" value="utf-8"/>
    <property name="log.patternByConsole"
              value="%cyan(%contextName) - %red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}) - %green(%msg%n)"/>
    <property name="log.patternByFile"
              value="%contextName - %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
    <property name="LOG_PATH" value="log"/>

    <!--控制台日志配置-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.patternByConsole}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <!--非error日志配置-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <!--输出格式-->
        <encoder>
            <pattern>${log.patternByFile}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_PATH}\info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--error日志配置-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${log.patternByFile}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_PATH}\error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--level表示级别-->
    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>

</configuration>